* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
}

/* Header */

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.navbar-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.studio_head {
  color: #000;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  margin-top: 32px;
  margin-bottom: 32px;
}

.nav__item {
  display: flex;
}

.nav__item_list-link {
  color: #212121;
}

.nav__item_list-link:hover {
  color: #2196f3;
}

.header-block > a {
  margin-right: 50px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
}
.nav__item_list-link {
  padding: 30px;
}
.header-block > a:last-child {
  margin-right: 0;
}

.header-block > a:hover {
  color: #2196f3;
}

/* Main  */

.main {
  text-align: center;
  background-color: #2f303a;
  padding: 200px;
}
.main__text {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.btn {
  display: inline-block;
  margin-top: 30px;
  padding: 10px 32px;
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}

.btn:hover {
  animation: pulsate 1s ease-in-out;
}

@keyframes pulsate {
  0% {
    box-shadow: 0 0 25px #5ddcff, 0 0 50px #4e00c2;
  }
}

.btn:active {
  color: red;
}

.info__list {
  display: flex;
  margin: 94px 0;
  justify-content: space-between;
}

.info__list-link {
  flex-basis: calc(25% - 30px);
}

.info__list-link-p {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

.info__list-link-intro {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  padding-bottom: 10px;
}

/* Images */

.images {
  text-align: center;
  padding-bottom: 94px;
}
.images__wrapper_intro,
.team__wrapper-intro {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  color: #212121;
  padding-bottom: 50px;
}

.images__cards {
  display: flex;
  justify-content: space-between;
}

.images__cards-link {
  transition: 1s;
  display: block;
  width: 370px;
  height: 294px;
}

.images__cards > li:hover {
  transform: scale(1.1);
}

/* People */

.people {
  text-align: center;
  padding: 94px 0;
  background-color: #f5f4fa;
}
.cards__wrapper-item {
  display: flex;
  justify-content: space-between;
}

.cards__wrapper-item-link {
  flex-basis: calc(25% - 30px);
  background: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 0px 0px 4px 4px;
}
.cards__wrapper-item-link:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.cards__wrapper-item-link-intro {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #212121;
  padding-top: 30px;
}

.cards__wrapper-item-link-p {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #757575;
  padding-top: 10px;
  padding-bottom: 16px;
}

.cards-icon {
  max-width: 100%;
  border-radius: 5px 5px 0 0;
}

.social {
  display: flex;
  justify-content: space-between;
  padding: 0 32px 30px 32px;
}

.social_link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: all 0.5s ease;
}
.social_link:hover {
  background: #2196f3;
}
.social_link path {
  transition: all 0.5s ease;
}
.social_link:hover path {
  fill: #fff;
}

/* Footer */

.footer {
  background-color: #2f303a;
  padding: 60px 0;
}

.logo-footer {
  display: block;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #2196f3;
  padding-bottom: 20px;
}

.footer__wraper {
  display: inline-block;
}

.studio {
  color: white;
}
.footer__link {
  display: inline-block;
}

.disp {
  display: block;
}
.addr {
  padding-bottom: 9px;
}

.link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding-bottom: 9px;
}

.white {
  color: white;
}

.link:hover {
  color: #2196f3;
}
